
<!-- Footer -->
<div class="wrapper row3">
    <div id="footer" class="clear">
      <!-- Section One -->
      <section class="one_quarter">
        <h2 class="title">Contact Information</h2>
        <nav>
          <ul>
            <li><a href="#">UMASS Boston Computer Building Department</a></li>
            <li><a href="#">100 William T Morrissey Blvd.</a></li>
            <li><a href="#">Boston, MA 02125</a></li>
            <li><a href="#">(555)555-1234</a></li>
            <li class="last"><a href="#">UMBcbd@umb.edu</a></li>
          </ul>
        </nav>
      </section>
      
      <!-- / Section -->
    </div>
  </div>
  <!-- Copyright -->
  <div class="wrapper row4">
    <footer id="copyright" class="clear">
      <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#">UMASS Boston</a></p>
    </footer>
  </div>
  </body>
  </html>
  