<%- include('partials/head') %>
<%- include('partials/nav') %>
<!-- content -->
<div class="wrapper row2">
  <%- include('partials/flash')  %> 
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider"><a href="#"><img src="images/demo/umbFITS.jpg" alt=""></a></section>
    <!-- main content -->
    <div id="homepage">
     
      <!-- Services -->
      <section id="services" class="clear">
        <article class="one_third">
          <figure><img src="images/demo/employees.jpg" width="290" height="180" alt="">
            <figcaption>
              <h2>Meet our team!</h2>
              <p>Our employees are dedicated to providing you the highest quality product, catered to your department's specific needs.</p>
            </figcaption>
          </figure>
        </article>
        <article class="one_third">
          <figure><img src="images/demo/pcBuild.jpg" width="290" height="180" alt="">
            <figcaption>
              <h2>Our experts in action!</h2>
              <p>We take the utmost care in our building process, and also provide on-campus support!</p>
            </figcaption>
          </figure>
        </article>
        <article class="one_third lastbox">
          <figure><img src="images/demo/thumbsUp.jpg" width="290" height="180" alt="">
            <figcaption>
              <h2>Place an order today!</h2>
              <p>Placing an order is as simple as clicking the "ORDER" button above, and selecting your department!</p>
            </figcaption>
          </figure>
        </article>
      </section>
      <!-- / Services -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- Introduction -->
      <section id="intro" class="last clear">
        <article>
          <figure><img src="images/demo/computerBigger.jpg" width="450" height="250" alt="">
            <figcaption>
              <h2>Welcome to our department!</h2>
              <p>A long-awaited addition here at UMASS, our department specializes in building computers for teachers and their classrooms. Our years of experience and professional attitude ensures that your students will get the top-notch educational experience that they deserve. If you would like to place an order for your classroom, simply click the “ORDER” button at the top right of the page. Should you have any questions, our contact information is listed below.</p>
            </figcaption>
          </figure>
        </article>
      </section>
      <!-- / Introduction -->
    </div>
    <!-- / content body -->
  </div>
</div>
<%- include('partials/footer') %>