<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container-fluid login-page">

        <div class="row">
            <div class="col-md-6 offset-md-3 login-form mt-5">
                <form action="/users" method="POST">
                  <h1>Register Form</h1>
                    <div class="form-group mt-2">
                      <label for="exampleInputEmail1">Email address</label>
                      <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                      <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="exampleInputPassword1">Password</label>
                                <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
                              </div>
                              <div class="form-group col">
                                <label for="exampleInputPassword1">Retype Password</label>
                                <input name="rePassword" type="password" class="form-control" id="confirmedPassword" placeholder="Password" required>
                              </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="exampleInputPassword1">First Name</label>
                                <input name="fname" type="text" class="form-control" id="fName" placeholder="First Name">
                              </div>
                              <div class="form-group col">
                                <label for="exampleInputPassword1">Last Name</label>
                                <input name="lname" type="text" class="form-control" id="lName" placeholder="Last Name">
                              </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="inputState">Deparment</label>
                                <select id="inputState" class="form-control" name="department">
                                    <% ['CS','IT','MATH', "BIOLOGY"].forEach(dept => { %>
                                        <option <%= dept %>><%= dept %></option>
                                    <% }) %>
                                  </select> </div>
                              <div class="form-group col">
                                <label for="exampleInputPassword1">Role Code:</label>
                                <input name="roleCode" type="text" class="form-control" id="exampleInputPassword1" placeholder="Role Code" required>
                              </div>
                        </div>
                    <a href="/"><button type="button" class="btn btn-primary mt-3 mx-auto">Back</button></a>
                    <button type="submit" class="btn btn-primary mt-3 mx-auto">Register</button>
                  </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <ul>
      <li>3076 for IT</li>
      <li>6723 for Supervisor</li>
      <li>8911 for employee</li>
    </ul> -->
  </body>
</html>